.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.pageloader::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  border-radius: 100%;
  content: '';
  z-index: 9999;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: 0 solid #1e5163;
  animation: loader-figure 1.15s infinite cubic-bezier(.215,.61,.355,1);
}